{
  "env": {
    "browser": false,
    "es2021": true,
    "mocha": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "overrides": [
    {
      "files": ["hardhat.config.js"],
      "globals": { "task": true }
    },
    {
      "files": ["scripts/**"],
      "rules": { "no-process-exit": "off" }
    }
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}
